{
    "openapi": "3.0.3",
    "info": {
        "title": "OICT Card Assignment API",
        "description": "The access token (`X-Access-Token`) for now is just the string `test`.",
        "version": "0.1.0"
    },
    "externalDocs": {
        "description": "GitHub repo",
        "url": "https://github.com/davidstraka2/oict-test"
    },
    "servers": [
        {
            "url": "http://tmp.davidstraka.me:3000"
        },
        {
            "url": "http://localhost:3000"
        }
    ],
    "paths": {
        "/status": {
            "get": {
                "summary": "App health-check",
                "responses": {
                    "200": {
                        "description": "The app is running without issues.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "example": "OK"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/card/{cardNumber}": {
            "get": {
                "summary": "Fetch information about a card with a given number",
                "security": [
                    {
                        "AccessTokenAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "cardNumber",
                        "in": "path",
                        "description": "The number of the card to fetch information for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully fetched the requested data.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "example": "3.7.2020 Aktivní v držení klienta"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid or missing access token",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "example": "Unauthorized"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "AccessTokenAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-Access-Token"
            }
        }
    }
}
